@model List<SinavYonetim.Models.Person>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @ViewBag.Bir  <br>
    @ViewBag.Iki  <br>
    @ViewBag.Uc   <br>
    @ViewBag.Dort <br>
    @ViewBag.Bes <br>
    @ViewBag.Alti <br>





    <div>
        <ul>
            @*@foreach(var p in Model)
            {
                <li>@p.Isim @p.Surname @p.IdentityNumber</li>
            }*@
        </ul>
    </div>
</body>
</html>
